@charset "UTF-8";

*{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #1c4c96;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;


    background-color: white;
    width: 250px;
    height: 450px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

section#login > div#image{
    display: block;
    background: black url(../image/image.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#form{
    display: block;
    padding: 15px;
}

div#form > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#form > p{
    font-size: 1.2em;
}